footer.footer
    .footer__top
        .container
            .footer__left
                ul.footer__list
                    li.footer__item Ad litora torquent
                    li.footer__item Per conubia
                    li.footer__item Nostra
                    li.footer__item Per inceptos
                    li.footer__item Himenaeos
                    li.footer__item In consectetur
            .footer__middle
                ul.footer__list
                    li.footer__item Taciti sociosqu
                    li.footer__item Ad litora torquent
                    li.footer__item Per conubia
                    li.footer__item Himenaeos
                    li.footer__item In consectetur
                    li.footer__item Nisi sed blandit
                    li.footer__item Tincidunt
            .footer__right
                ul.footer__list
                    li.footer__item Nostra
                    li.footer__item Per inceptos
                    li.footer__item Himenaeos
                    li.footer__item In consectetur
                    li.footer__item Nisi sed blandit
                    li.footer__item Tincidunt
    .footer__bottom
        .container
            .footer__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.