section.main
    .container
        .main__title Integer at tortor ut magna
        .main__title.main__title-bottom finibus lobortis sed quis tellus.
        ul.main__list
            li.main__item
                .main__photo
                    img.main__photo-image(src="img/content/main-1.png")
                .main__food Tincidunt
                .main__desc Phasellus arcu justo, ullamcorper non diam sit amet, luctus condimentum metus. Nullam tempus egestas efficitur. Sed quam dolor.
            li.main__item
                .main__photo
                    img.main__photo-image(src="img/content/main-2.png")
                .main__food Duis bibendum
                .main__desc.main__desc_2 Ut arcu arcu, faucibus eu risus blandit, pulvinar viverra justo. Phasellus arcu justo, ullamcorper non diam sit amet, luctus condimentum metus. In hac habitasse platea dictumst.
                a(href="#").btn.btn_main Read more
            li.main__item
                .main__photo
                    img.main__photo-image(src="img/content/main-3.png")
                .main__food Donec ligula
                .main__desc Nullam tempus egestas efficitur. Sed quam dolor, vulputate sed mattis et, sodales quis orci. Ut arcu arcu, faucibus eu risus blandit.