section.news
    .container
        h2.news__title Our news
        ul.news__list
            li.news__item
                img.news__image(src="img/content/news-1.jpg" alt="news photo 1")
                .news__name Lorem ipsum
                .news__desc Est a elit scelerisque vestibulum. Donec est sem, lobortis sit amet imperdiet vel, pretium lobortis erat. Nulla vitae hendrerit odio.
                a.btn.btn_news(href="#") Read more
            li.news__item
                img.news__image(src="img/content/news-2.jpg" alt="news photo 2")
                .news__name Lorem ipsum
                .news__desc Est a elit scelerisque vestibulum. Donec est sem, lobortis sit amet imperdiet vel, pretium lobortis erat. Nulla vitae hendrerit odio.
                a.btn.btn_news(href="#") Read more
            li.news__item
                img.news__image(src="img/content/news-3.jpg" alt="news photo 3")
                .news__name Lorem ipsum
                .news__desc Est a elit scelerisque vestibulum. Donec est sem, lobortis sit amet imperdiet vel, pretium lobortis erat. Nulla vitae hendrerit odio.
                a.btn.btn_news(href="#") Read more