section.newsletter
    .container
        .newsletter__title Newsletter
        .newsletter__desc Ut arcu arcu, faucibus eu risus blandit, pulvinar viverra justo. Phasellus arcu justo, ullamcorper non diam sit amet, luctus condimentum metus.
        form.form-newsletter
            input.form-newsletter__email(name="email" placeholder="email address")
            input.form-newsletter__sign-up.btn(type="submit" value="Sign up")