section.product-details
    .container
        ul.product-details__list
            li.product-details__item.product-details__item_left
                h3.product-details__title Ipsum dolor sit amet
                .product-details__text
                    .product-details__desc Nam accumsan nunc sit amet elementum sollicitudin. Integer vel lacus eget tortor lobortis tincidunt sed ue dolor. Phasellus cursus augue ac pulvinar cursus.
                    .product-details__desc Quisque ut erat ornare, feugiat turpis a, fringilla felis. Nulla molestie lorem et orci sagittis, et accumsan ex porta.
                a.btn.product-details__btn.product-details__btn_red(href="#") Sign up
            li.product-details__item.product-details__item_right
                h3.product-details__title Ipsum dolor sit amet
                .product-details__text
                    .product-details__desc Nam accumsan nunc sit amet elementum sollicitudin. Integer vel lacus eget tortor lobortis tincidunt sed ue dolor. Phasellus cursus augue ac pulvinar cursus.
                    .product-details__desc Quisque ut erat ornare, feugiat turpis a, fringilla felis. Nulla molestie lorem et orci sagittis, et accumsan ex porta.
                a.btn.product-details__btn.product-details__btn_purple(href="#") Sign up