.nav {
  max-width: 770px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
  }

  &__item {
    margin-right: 45px;
    margin-bottom: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    font-family: RobotoSlab;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #31353e;
  }
}

.btn_nav {
  padding: 14px 24px 12px;
  color: #fff;
  background: #dd4b2b;

  &:hover {
    background: darken(#dd4b2b, 10%);
  }
}