nav.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="#") Fusce at
        li.nav__item
            a.nav__link(href="#") Facilisis
        li.nav__item
            a.nav__link.btn.btn_nav(href="#") Ante donec
        li.nav__item
            a.nav__link(href="#") Blandit rhoncus
        li.nav__item
            a.nav__link(href="#") Placerat